.Rproj.user
.Rhistory
.RData
.Ruserdata
Notebooks/Quarto/ieee_template/tec_repor_road_detection.pdf
Notebooks/Quarto/ieee_template/tec_repor_road_detection.tex
Notebooks/Quarto/ieee_template/tec_repor_road_detection_cache/pdf/__packages
/Notebooks/Quarto/ieee_template/tec_repor_road_detection_cache
